/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF CSS RESET*/
/*BEGINNING OF CUSTOM CSS*/
/*FIRST SECTION*/
.intro {
	font-family: 'Fjalla One', sans-serif;
  height: 100vh;
  position: relative;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.blurImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
    top: 0;
    left: 0;
}
.blurImg > div {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.clear {
	overflow: hidden;
	position: fixed;
}
.blur {
	overflow: hidden;
	position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  background-color: rgba(125, 202, 92, 0.5);
  z-index: 99;
}
.l1 {
  border-bottom: 2px solid #FFF;
  color: #FFF;
  font-size: 2em;
  margin: 5% 10%;
  padding: 2%;
	position: relative;
  text-align: left;
	text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.logo {
	position: relative;
	z-index: 99;
}
.app-store {
	background: rgba(255, 255, 255, .9);
	color: rgba(125, 202, 92, 0.9);
  border-radius: 4px;
  float: right;
  font-size: .5em;
  margin-left: 1%;
  padding: 1%;
	text-shadow: none;
}
.logo{
	width: 50%;
	text-align: center;
	padding: 8% 0;
	margin: 0 auto;
	display: block;
}
/*SECOND SLIDE*/
.NEW-BACKGROUND {
	background: #FFF;
}
.slide-2, {
	background: #FFF;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
	overflow: auto;
	z-index: 99;
}
/*.icons {
	border: 1px solid green;
	text-align: center;
}
.icon-container {
	border: 1px solid orange;
	margin: 5%;
	text-align: center;
	width: 10%;
}
.icon {
	display: inline-block;
	float:left;
	margin: 10% 10% auto 10%;
	width: 5%;
}*/
.future {
	clear: both;
	color: gray;
  font-size: 2em;
  line-height: 1.25;
  padding: 10%;
  text-align: center;
}
/*THIRD SLIDE*/
.slide-3 {
  background-color: rgba(125, 202, 92, 0.5);
	height: 100vh;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
  position: relative;
}
.slide-3-left {
  border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	color: #000;
  font-size: 2em;
  line-height: 2;
	margin: 10% auto auto 10%;
  padding: 2% 0;
  float: left;
  width: 40%;
}
.slide-3-right {
	float: right;
  width: 40%;
}
.slide-3-right img {
	margin-top: 10%;
	text-align: center;
}
.slide-4 {
  background-color: rgba(125, 202, 92, 0.6);
  font-family: 'Raleway', sans-serif;
  height: 20vh;
  color: #999;
  position: relative;
  width: 100%;
}
.line {
  padding: 4%;
}
.last-line {
  border-top: 1px solid #FFF;
  color: #FFF;
  padding: 1%;
  position: relative;
}
.app-store-2 {
  border: 1px solid #FFF;
  border-radius: 6px;
  float: right;
  font-size: .5em;
  margin-left: 1%;
  padding: 1%;
}
